@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'Circular Book';
  font-style: normal;
  font-display: fallback;
  src: url(/fonts/Circular-Book.woff2) format('woff2');
}
@font-face {
  font-family: 'Circular Light';
  font-style: normal;
  font-display: fallback;
  src: url(/fonts/Circular-Light.woff2) format('woff2');
}
@font-face {
  font-family: 'PermanentMarker';
  font-style: normal;
  font-weight: 400;
  font-display: fallback;
  src: url(/fonts/PermanentMarker.woff2) format('woff2');
}

html {
  scroll-behavior: smooth;
}
#__next {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}
